html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  max-width: 700px;
  margin: 2rem auto;
  background: #fff;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.07);
}

/*Header*/
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #000000;
  color: #ffffff;
  padding: 0.5rem 1.5rem;
}

.nav-left {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.nav-logo {
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;
  font-size: 1.2rem;
}
.nav-link {
  color: #ffffff;
  text-decoration: none;
  padding: 0.3rem 0.7rem;
  border-radius: 3px;
  transition: background 0.2s;
}
.nav-link:hover {
  background: #252525;
}
.nav-right {
  display: flex;
  align-items: center;
}

.nav-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #000000;
  color: #ffffff;
  padding: 0.5rem 1.5rem;
  text-align: center;
}

/*grid-cursos-index*/
.grid-cursos {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
}

.card-react {
  grid-row: 1 / 4;
}

.card-assembly{
  grid-row: 1 / 4;
}

.card-typescript {
  grid-row: 1 / 4;
}

.card-holyc {
  grid-row: 1 / 4;
}
