main section {
  display: grid;
  place-items: center;
}

.bienvenida {
  font-size: 3rem;
  text-align: center;

  /*Para animación*/
  view-timeline-name: --welcome;
  animation-timeline: --welcome;
  animation-name: growShrink;
  animation-fill-mode: both;
  animation-range: entry 0% cover 130%;
}

.image-fondo {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../media/banner.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 100%;
  min-height: 600px;
}

.titulo {
  padding-top: 7rem;
  text-align: center;
  font-size: 40px;
}

/*imagenes*/
.grid-cursos img {
  padding: 4rem;
  height: 400px;
  width: 400px;
}

/*tarjetas cursos*/
.grid-cursos {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 60px;
  width: 70%;
  margin: auto;
}

.grid-cursos div {
  background: #02000c;
  display: grid;
  place-items: center;
  border-radius: 15px;
  font-size: 4rem;
  transition: transform 0.4s ease;
  place-items: center;

  /*para animación*/
  view-timeline-name: --reveal;
  animation-timeline: --reveal;
  animation-name: zoomCard;
  animation-fill-mode: both;
  animation-range: entry 0% cover 100%;
}

.grid-cursos .card-titulo {
  padding: 2rem 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid-cursos .texto {
  padding: 8rem;
  background-color: #040216;
  border-radius: 20px;
  text-align: justify;
}

.grid-cursos button {
  height: 8rem;
  width: 100%;
  text-align: center;
  background-color: #040216;
  color: white;
  font-size: 32px;
  border-radius: 8px;
  border-color: white;
  border-width: 4px;
  cursor: pointer;
  transition: 0.3s ease-in;
}

.grid-cursos button:hover {
  transform: scale(1.05);
  background-color: #000000;
  color: rgb(189, 189, 189);
  border-color: rgb(204, 203, 203);
}

/*Animaciones*/
.grid-cursos div:nth-child(1) {
  animation-delay: 0s;
}
.grid-cursos div:nth-child(2) {
  animation-delay: 0.2s;
}
.grid-cursos div:nth-child(3) {
  animation-delay: 0.4s;
}
.grid-cursos div:nth-child(4) {
  animation-delay: 0.6s;
}

@keyframes zoomCard {
  0% {
    transform: scale(0.6);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.85);
  }
}

@keyframes growShrink {
  0% {
    opacity: 0;
    transform: scale(0.6);
  }
  30% {
    opacity: 1;
    transform: scale(1.5);
  }
  70% {
    opacity: 1;
    transform: scale(1.2);
    filter: blur(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
