@import url("https://fonts.googleapis.com/css2?family=Electrolize&display=swap");

html,
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  scroll-behavior: smooth;
  background: #02000c;
  color: #fff;
  font-family: "Electrolize", sans-serif;
}

/*titulo*/
h1 {
  margin-bottom: 4vh;
  text-align: center;
  font-size: 4vh;
}

button {
  background: linear-gradient(90deg, #8c79b4, #41c7d4);
  color: white;
  border: none;
  padding: 2vh 3vh;
  border-radius: 3vh;
  font-size: 2vh;
  font-weight: bold;
  transition: all 0.3s ease;
  margin-top: 3vh;
  cursor: pointer;
}

button:hover {
  background: linear-gradient(90deg, #41c7d4, #8c79b4);
  box-shadow: 0 0 3vh 1vh rgba(0, 255, 255, 0.8);
  transform: scale(1.05);
}

/*contenedor con las preguntas*/
#quizForm {
  width: 80vw;
  min-width: 50vw;
  margin-top: 6vh;
}

/*contenedoor de las preguntas*/
.card {
  background: #06031f;
  border: 0.4vh solid rgba(0, 255, 255, 0.3);
  padding: 3vh;
  border-radius: 2vh;
  margin-bottom: 3vh;
  box-shadow: 0 0 3vh rgba(0, 255, 255, 0.15);
  transition: all 0.3s ease;
}

.card:hover {
  border-color: #49c0ec;
  box-shadow: 0 0 1vh #49c0ec, 0 0 2vh #49c0ec, 0 0 3vh #41c7d4, 0 0 5vh #8c79b4;
  animation: cardGlow 1s infinite alternate;
}

@keyframes cardGlow {
  from {
    box-shadow: 0 0 0.5vh #49c0ec, 0 0 1vh #41c7d4, 0 0 2vh #8c79b4,
      0 0 3vh #49c0ec;
  }
  to {
    box-shadow: 0 0 1.5vh #49c0ec, 0 0 2vh #41c7d4, 0 0 3vh #8c79b4,
      0 0 4vh #49c0ec;
  }
}

/*titulo de las preguntas*/
.card p {
  padding: 2vh;
  font-size: 2.2vh;
}

/*opciones*/
label {
  display: block;
  cursor: pointer;
  padding: 2vh;
  border-radius: 1vh;
  transition: background 0.3s ease;
  background: rgba(255, 255, 255, 0.05);
  font-size: 2vh;
}

label:hover {
  background: rgba(0, 255, 255, 0.2);
}

#resultado {
  width: 80vw;
  max-width: 100vw;
  margin-top: 6vh;
  text-align: center;
}

#resultado h2 {
  color: #49c0ec;
  border-bottom: 0.3vh solid rgba(0, 255, 255, 0.3);
  padding-bottom: 1vh;
  margin-bottom: 3vh;
  font-size: 3vh;
  text-shadow: 0 0 2vh rgba(0, 255, 255, 0.6);
}

.ok {
  color: #a3cc54;
  font-weight: bold;
  font-size: 2.2vh;
  text-shadow: 0 0 2vh #a3cc54;
}

.bad {
  color: #e67ea3;
  font-weight: bold;
  font-size: 2.2vh;
  text-shadow: 0 0 2vh #e67ea3;
}

/* Cards del resultado */
#resultado .card {
  text-align: left;
  border-left: 0.8vh solid #49c0ec;
}

#resultado .card.ok {
  border-color: #a3cc54;
}

#resultado .card.bad {
  border-color: #e67ea3;
}

.btns {
  width: 60vw;
  display: flex;
  justify-content: space-between;
  margin-top: 4vh;
}
