@import url("https://fonts.googleapis.com/css2?family=Electrolize&display=swap");

html,
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  scroll-behavior: smooth;
  background: #02000c;
  color: #fff;
  font-family: "Electrolize", sans-serif;
}

/*titulo*/
h1 {
  margin-bottom: 25px;
  text-align: center;
}

button {
  background: linear-gradient(90deg, #8c79b4, #41c7d4);
  color: white;
  border: none;
  padding: 1rem 1.5rem;
  border-radius: 1.5rem;
  font-size: 1rem;
  font-weight: bold;
  transition: all 0.3s ease;
  margin-top: 15px;
  cursor: pointer;
}

button:hover {
  background: linear-gradient(90deg, #41c7d4, #8c79b4);
  box-shadow: 0 0 20px 5px rgba(0, 255, 255, 0.8);
  transform: scale(1.05);
}

/*contenedor con las preguntas*/
#quizForm {
  width: 100%;
  min-width: 50rem;
  margin-top: 4rem;
}

/*contenedoor de las preguntas*/
.card {
  background: #06031f;
  border: 2px solid rgba(0, 255, 255, 0.3);
  padding: 20px;
  border-radius: 15px;
  margin-bottom: 15px;
  box-shadow: 0 0 20px rgba(0, 255, 255, 0.15);
  transition: all 0.3s ease;
}

.card:hover {
  border-color: #49c0ec;
  box-shadow:
    0 0 7px #49c0ec,
    0 0 12px #49c0ec,
    0 0 22px #41c7d4,
    0 0 37px #8c79b4;
  animation: cardGlow 1s infinite alternate;
}

@keyframes cardGlow {
  from {
    box-shadow:
      0 0 3px #49c0ec,
      0 0 4px #41c7d4,
      0 0 6px #8c79b4,
      0 0 12px #49c0ec;
  }
  to {
    box-shadow:
      0 0 8px #49c0ec,
      0 0 14px #41c7d4,
      0 0 18px #8c79b4,
      0 0 22px #49c0ec;
  }
}

/*titulo de las preguntas*/
.card p {
  padding: 1rem;
}

/*opciones*/
label {
  /*esta madre separa los checkboxes*/
  display: block;
  cursor: pointer;
  padding: 1rem;
  border-radius: 8px;
  transition: background 0.3s ease;
  background: rgba(255, 255, 255, 0.05);
}

label:hover {
  background: rgba(0, 255, 255, 0.2);
}

#resultado {
  width: 100%;
  max-width: 700px;
  margin-top: 40px;
  text-align: center;
}

#resultado h2 {
  color: #49c0ec;
  border-bottom: 2px solid rgba(0, 255, 255, 0.3);
  padding-bottom: 10px;
  margin-bottom: 20px;
  text-shadow: 0 0 10px rgba(0, 255, 255, 0.6);
}

.ok {
  color: #a3cc54;
  font-weight: bold;
  font-size: 1.1em;
  text-shadow: 0 0 10px #a3cc54;
}

.bad {
  color: #e67ea3;
  font-weight: bold;
  font-size: 1.1em;
  text-shadow: 0 0 10px #e67ea3;
}

/* Cards del resultado */
#resultado .card {
  text-align: left;
  border-left: 5px solid #49c0ec;
}

#resultado .card.ok {
  border-color: #a3cc54;
}

#resultado .card.bad {
  border-color: #e67ea3;
}