html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}

/*contenedor*/
.container-grid {
  height: 75vh;
  display: flex;
  align-items: center;
  justify-content: center;
  scroll-snap-align: start;
}

/*card*/
.card-certificacion {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto auto auto;
  gap: 20px;
  width: 80%;
  height: 80%;
  background-color: #1a0036;
  border-radius: 20px;
  padding: 40px;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.6);
}

/*iamgen*/
.div2 {
  grid-column: 2 / 3;
  grid-row: 1 / span 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imagen-curso {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}

/*nombre*/
.div1 {
  font-size: 2.5rem;
}

/*descripcion*/
.div3 {
  font-size: 1.3rem;
  text-align: justify;
}

/*examen*/
.div4 {
  grid-column: 1 / 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*pago*/
.div5 {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.pagar {
  background-color: #8c3fff;
  border: none;
  color: #fff;
  padding: 12px 30px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1.1rem;
  transition: 0.3s ease;
}

.pagar:hover {
  background-color: #6a25c7;
}
