html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  scroll-snap-type: y proximity;
  overflow-y: scroll;
  scroll-behavior: smooth;
  background: #02000c;
}

/*contenedor general*/
.container-grid {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  scroll-snap-align: start;
  padding: 2rem 0;
}

/*tarjeta*/
.card-certificacion {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto 1fr auto;
  gap: 1.5rem;
  width: 85%;
  max-width: 75rem;
  background: #06031f;
  border: 0.125rem solid rgba(0, 255, 255, 0.3);
  border-radius: 1.25rem;
  padding: 2rem;
  box-shadow: 0 0 1.875rem rgba(0, 255, 255, 0.2);
  transition: all 0.4s ease;
}

.card-certificacion:hover {
  border-color: #49c0ec;
  box-shadow: 0 0 0.4375rem #49c0ec, 0 0 0.75rem #49c0ec, 0 0 1.375rem #41c7d4,
    0 0 2.3125rem #8c79b4;
  animation: cardGlow 1.5s infinite alternate;
}

.div1 {
  grid-area: 1 / 1 / 2 / 3;
  font-size: 2.5rem;
  text-align: start;
  margin-left: 1rem;
}

.div2 {
  grid-area: 2 / 2 / 3 / 3;
  display: flex;
  justify-content: center;
  align-items: center;
}
.imagen-curso {
  width: 100%;
  max-width: 28rem;
  height: auto;
  object-fit: cover;
  border: 0.5rem solid #fff;
  border-radius: 0.5rem;
  transition: 0.4s ease-in;
}
.imagen-curso:hover {
  transform: scale(1.015);
  background-color: rgba(0, 255, 255, 0.3);
}

/*descripción*/
.div3 {
  grid-area: 2 / 1 / 3 / 2;
  font-size: 0.95rem;
  text-align: justify;
  line-height: 1.6;
  background: rgba(255, 255, 255, 0.05);
  padding: 1rem;
  border-radius: 0.625rem;
  border: 0.063rem solid rgba(255, 255, 255, 0.15);
  max-height: 22rem;
  overflow-y: auto;
  scrollbar-width: none;
}

/*examen*/
.div4 {
  grid-area: 3 / 1 / 4 / 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*pago*/
.div5 {
  grid-area: 3 / 2 / 4 / 3;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-size: 1.8rem;
  color: #a3cc54;
}

/*botones*/
.pagar,
.btn-iniciar-examen {
  height: 6rem;
  width: 80%;
  background-color: #040216;
  font-size: 1.8rem;
  border-radius: 0.5rem;
  border-width: 0.25rem;
  cursor: pointer;
  transition: 0.3s ease-in;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.btn-iniciar-examen {
  color: #49c0ec;
  border-color: #49c0ec;
  gap: 1.2rem;
}
.btn-iniciar-examen:hover {
  transform: scale(1.05);
  color: #368baa;
  border-color: #368baa;
  box-shadow: 0 0 1.875rem rgba(0, 255, 255, 0.2);
}
.pagar {
  color: #a3cc54;
  border-color: #a3cc54;
  box-shadow: 0 0 1.875rem rgba(57, 243, 0, 0.2);
}
.pagar:hover {
  transform: scale(1.05);
  background-color: #000;
  color: #78ac18;
  border-color: #78ac18;
}
