@import url("https://fonts.googleapis.com/css2?family=Electrolize&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  scroll-behavior: smooth;
  background: #02000c;
  color: #fff;
}

/*ocultar scroll*/
body::-webkit-scrollbar {
  display: none;
}

/*Header */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #06031f;
  color: #fff;
  padding: 0.5rem 1.5rem;
}

/*titulo*/
.nav-logo {
  color: #fff;
  font-size: 1.8rem;
  font-weight: bold;
  text-decoration: none;
}

/*header */
.nav-right {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.navbar button {
  background-color: white
  padding: 6px;
  border-radius: 15px;
  font-weight: bold;
  height: 45px;
}

.navbar button:hover {
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 15px 5px rgba(183, 0, 255, 0.8);
  border-color: rgba(183, 0, 255, 0.8);
  cursor: pointer;
}

.nav-link {
  color: white;
  text-decoration: none;
  padding: 1rem 2em;
  border-radius: 25px;
  transition: box-shadow 0.3s ease, color 0.3s ease;
  border: 2px solid transparent;
}

.nav-link:hover {
  color: aqua;
  box-shadow: 0 0 15px 5px rgba(0, 255, 255, 0.8);
  border-color: aqua;
}

/*menu*/
main section {
  min-height: 100vh;
  display: grid;
  place-items: center;
}

.bienvenida {
  font-size: 3rem;
  text-align: center;

  /*Para animación*/
  view-timeline-name: --welcome;
  animation-timeline: --welcome;
  animation-name: growShrink;
  animation-fill-mode: both;
  animation-range: entry 0% cover 130%;
}

.section-1 .banner {
  height: 600px;
  width: 1280px;
  transition: 0.6s ease-in;
  border-radius: 5px;
}

.section-1 .banner:hover {
  transform: scale(1.1);
}

/*imagenes*/
.grid-cursos img {
  padding: 4rem;
  height: 400px;
  width: 400px;
}

/*tarjetas cursos*/
.grid-cursos {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 60px;
  width: 70%;
  margin: auto;
}

.grid-cursos div {
  background: #02000c;
  display: grid;
  place-items: center;
  border-radius: 15px;
  font-size: 4rem;
  transition: transform 0.4s ease;
  place-items: center;

  /*para animación*/
  view-timeline-name: --reveal;
  animation-timeline: --reveal;
  animation-name: zoomCard;
  animation-fill-mode: both;
  animation-range: entry 0% cover 100%;
}

.grid-cursos .card-titulo {
  padding: 2rem 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid-cursos .texto {
  padding: 8rem;
  background-color: #040216;
  border-radius: 20px;
}

.grid-cursos button {
  height: 8rem;
  width: 100%;
  text-align: center;
  background-color: #040216;
  color: white;
  font-size: 32px;
  border-radius: 8px;
  border-color: white;
  border-width: 4px;
  cursor: pointer;
  transition: 0.3s ease-in;
}

.grid-cursos button:hover {
  transform: scale(1.05);
  background-color: #000000;
  color: rgb(189, 189, 189);
  border-color: rgb(204, 203, 203);
}

.section-3 h1 {
  text-align: center;
}
/*Footer*/
footer {
  background: #000;
  text-align: center;
  padding: 30px;
}

/*Animaciones*/
.grid-cursos div:nth-child(1) {
  animation-delay: 0s;
}
.grid-cursos div:nth-child(2) {
  animation-delay: 0.2s;
}
.grid-cursos div:nth-child(3) {
  animation-delay: 0.4s;
}
.grid-cursos div:nth-child(4) {
  animation-delay: 0.6s;
}

@keyframes zoomCard {
  0% {
    transform: scale(0.6);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.85);
  }
}

@keyframes growShrink {
  0% {
    opacity: 0;
    transform: scale(0.6);
  }
  30% {
    opacity: 1;
    transform: scale(1.5);
  }
  70% {
    opacity: 1;
    transform: scale(1.2);
    filter: blur(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.electrolize-regular {
  font-family: "Electrolize", sans-serif;
  font-weight: 400;
  font-style: normal;
}
