main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.titulo {
  padding-left: 5vh;
  padding-top: 5vh;
  font-size: 5vh;
}

.subtitulo {
  font-size: 2.5vh;
}

.pharagraph {
  padding-left: 1.5vh;
}

.subtitulo-valor {
  font-size: 6vh;
  padding-bottom: 8vh;
  text-align: center;
}

.valores-container {
  display: flex;
  padding-top: 8vh;
  gap: 10vh;
  padding: 10vh;
  background-color: rgb(8, 4, 24);
}

.valores-container .icon {
  background-color: aliceblue;
  clip-path: circle();
  border-width: 1vh;
  border-color: aqua;
  padding: 3vh;
  height: 20vh;
  width: 20vh;
  transition: 0.2s ease-in;
}

.valores-container .icon:hover {
  filter: invert();
}

.valores-container .icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 7vh;
}

.valores-container .valor-titulo {
  text-align: center;
}

.valores-container .valor-texto {
  text-align: justify;
}

.container-left {
  text-align: justify;
  padding: 2vh;
  padding-right: 5vh;
  font-size: 3vh;
}

.container-grid {
  display: grid;
  grid-template-columns: 3fr 2fr;
  align-items: center;
  gap: 2vh;
  padding: 3vh 5%;
}

.container-right img {
  width: 100%;
  height: auto;
  border-radius: 2vh;
  transition: transform 0.4s ease, box-shadow 0.4s ease;
}

.container-right img:hover {
  transform: scale(1.05);
}

/* Contenedores de fichas de trabajo */
.container-trabajadores {
  display: flex;
  flex-direction: column;
  gap: 4vh;
  padding: 4vh 6%;
}

/* Impares */
.container-trabajadores-impar {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  gap: 2vh;
}

/* Pares */
.container-trabajadores-par {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  gap: 2vh;
}

.container-left-impar img,
.container-right-par img {
  width: 100%;
  height: auto;
  border-radius: 1.5vh;
  transition: transform 0.4s ease, box-shadow 0.4s ease;
}

.container-left-impar img:hover,
.container-right-par img:hover {
  transform: scale(1.05);
}

.container-right-impar p,
.container-left-par p {
  color: #fff;
  font-size: 2vh;
  line-height: 1.8;
  background-color: rgba(255, 255, 255, 0.05);
  padding: 2vh;
  border-radius: 1.5vh;
  text-align: justify;
  min-height: 10vh;
}

.container-right-impar h4,
.container-left-par h4 {
  color: #fff;
  font-size: 3vh;
  line-height: 1.8;
  background-color: rgba(255, 255, 255, 0.05);
  padding: 2vh;
  border-radius: 1.5vh;
  text-align: justify;
}
